<div>
  <h2>Lista de productos: </h2>
</div>
<main class="container">
  {{#each products}}
    <article>
      <h4>{{this.title}}</h4>
      <p>ID: {{this.id}}</p>
      <p>Descripción: {{this.description}}</p>
      <p>Código: {{this.code}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Estado: {{this.status}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoría: {{this.category}}</p>
      <p>Imágenes: {{this.thumbnail}}</p>
    </article>
  {{/each}}
</main>